<div class="card">
  <div class="card-body">
    <h5 class="card-title">Entries</h5>
    <p class="card-text">View your entries or add a new one.</p>
    <a class="card-link" href="<%= entries_path %>">View Entries</a>
    <a class="card-link" href="<%= new_entry_path %>">New Entry</a>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Notifications</h5>
    <p class="card-text">Enable push notifications on this device (the browser will prompt you). This device will be linked to your account.</p>
    <button id="enable-notifications" class="btn btn-primary">Enable Notifications</button>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Test It</h5>
    <h6 class="card-subtitle text-muted mb-3">Ephemeral</h6>
    <p class="card-text">Send a test notification to all of my registered devices.</p>
    <a class="btn btn-primary" href="<%= notify_me_ephemeral_index_path %>">Send Notification</a>
  </div>
</div>
