<h2>Mood</h2>

<p>View your mood entries for the past 2 weeks.</p>

<p><a class="btn btn-primary" href="<%= history_index_path %>">View Entries</a></p>

<p>Enable push notifications on this device (the browser will prompt you). This device will be linked to your account.</p>

<p><button id="enable-notifications" class="btn btn-primary">Enable Notifications</button></p>
