<p>Keeping track of emotions over time for better mental health awareness.</p>
<p><a href="https://github.com/aVigorousDev/mood">View on GitHub</a></p>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Sign In</h5>
    <h6 class="card-subtitle text-muted mb-3">No account? <a href="/sign_up">Sign up</a> instead.</h6>
    <%= form_with url: sign_in_path, local: true do %>

      <div class="form-group">
        <label for="signup-email">Email</label>
        <input type="email" id="signup-email" class="form-control" name="email">
      </div>

      <div class="form-group">
        <label for="signup-password">Password</label>
        <input type="password" id="signup-password" class="form-control" name="password">
      </div>

      <button type="submit" class="btn btn-primary">Sign In</button>
    <% end %>
  </div>
</div>
