<p>You will receive a login notification on this device soon.</p>

<script>
  registerServiceWorker((subscription) => {
    const payload = {
      subscription: subscription,
    };

    // send to API for storage
    fetch('/push_subscriptions/log_me_in', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(payload),
    })
    .then((response) => {
      console.log('Sending login push...');
    })
    .catch(error => console.error(error));
  });
</script>
