* {
  box-sizing: border-box;
  letter-spacing: 0.05em;
}

body {
  font-family: sans-serif;
  margin: 0;
}

main {
  padding: 1em;
}

label.custom-checkbox-container {
  cursor: pointer;
  display: block;
  padding: 0.75em 1em;
}

span.custom-control-label {
  display: inline-block;
  position: relative;
}

#entries-graph {
  margin-bottom: 1em;
}

.card {
  margin-bottom: 1em;
}

.card .card-body, .alert {
  padding: 1em;
}

.card .labels {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.75em;
  margin: -0.25em;
}

.card .labels .label {
  background-color: #eee;
  border-radius: 0.125em;
  color: #000;
  padding: 0.25em 0.75em;
  margin: 0.25em;
}

.card .labels-container {
  display: flex;
  justify-content: space-between;
}

.card .labels-container a {
  color: inherit;
}

.card .labels-container .icon {
  margin-left: 1em;
  padding: 0.125em;
  min-height: 1.5em;
  height: 1.5em;
  min-width: 1.5em;
  width: 1.5em;
}

.smaller-text {
  font-size: 0.75em;
}

.card .card-body .card-text:last-child {
  margin-bottom: 0;
}
